{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="contact-form-wrap section signup-section bg-dark">
    <h1 class="text-white text-center" style="margin-bottom: 50px;">About Us</h1>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="row ">
                <div class="col-md-3">
                    <div class="card" style="height: 20rem; margin-right: 5px;">
                        <div class="card-header">
                            <h4>Sabin Saleem</h4>
                        </div>
                        <div class="card-body" style="">
                            <img src="{% static 'images/sabin.jpeg' %}" width="180px" height="220px">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="height: 20rem; margin-right: 5px;">
                        <div class="card-header">
                            <h4>Shamil PP</h4>
                        </div>
                        <div class="card-body" style="">
                            <img src="{% static 'images/shamil.jpeg' %}" width="180px" height="220px">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="height: 20rem; margin-right: 5px;">
                        <div class="card-header">
                            <h4>Suhail A</h4>
                        </div>
                        <div class="card-body" style="">
                            <img src="{% static 'images/suhail.jpeg' %}" width="180px" height="220px">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="height: 20rem; margin-right: 5px;">
                        <div class="card-header">
                            <h4>Vinay Franklin</h4>
                        </div>
                        <div class="card-body" style="">
                            <img src="{% static 'images/vinay.png' %}" width="180px" height="220px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>><br>
    <h4 class="text-white text-center">Contact us</h4>
    <p class="text-white text-center mb-0">Email : bookitsupport@gmail.com</p>
    <p class="text-white text-center mt-0">Ph No : 99999999999</p>

</section>
{% endblock %}