{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="contact-form-wrap section signup-section">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="row">
                <h2 class="text-center" style="margin: auto;">3 Unconventional Ways to Become a Better Writer</h2>
                <h4 style="margin: auto; margin-bottom: 30px;"> (Hint: It’s About Being a Better Reader)</h4>
                <img src="{% static 'images/blog2img2.jpg' %}" width="80%" height="400px" style="margin: auto; margin-bottom: 30px;">
                <p style="font-size: larger; line-height: 150%;">Can I be blunt on this subject?<br><br>
                    <span class="font-weight-bold">If you don’t have time to read, you don’t have the time (or the tools) to write. Simple as that. – Stephen King</span>
                    <br><br>
                    Even if you’re not a ‘writer’ per se, writing can be highly beneficial. It can be helpful for a number of things:

                    - help you to work through feelings
                    - stay positive
                    - express your thoughts more clearly
                    - market your product. <br><br>
                    Generally, there are two things that writers recommend to others who want to improve: more writing, and reading. More writing is an obvious one, since practice makes perfect. But writing in a vacuum won’t do us much good. Reading exposes us to other styles, other voices, other forms and genres of writing. Importantly, it exposes us to writing that’s better than our own and helps us to improve.
                    <br><br>
                    <span class="font-weight-bold">Reading—the good and the bad—inspires you. It develops your palate for all the tricks that writers have invented over the years. You can learn from textbooks about the writing craft, but there’s no substitute for discovering for yourself how a writer pulls off a trick. Then that becomes part of your experience. – Roz Morris</span>
                    <br><br>
                    Since reading is something we learn to do when we first start school, it’s easy to think we’ve got it sorted out and we don’t need to work on this skill anymore. Or, that we don’t need to exercise our reading muscles anymore. But illustrator Chuck Jones pointed out in this letter to a class of students how silly it would be to not read when we have the chance:
                    <br><br>
                    Knowing how to read and not reading books is like owning skis and not skiing, owning a board and never riding a wave, or, well, having your favorite sandwich in your hand and not eating it. If you owned a telescope that would open up the entire universe for you would you try to find reason for not looking through it? Because that is exactly what reading is all about; it opens up the universe of humour, of adventure, of romance, of climbing the highest mountain, of diving in the deepest sea.
                    <br><br>
                    So let’s take a look at five unconventional ways to become better writers by changing the way we read.<br><br>
                    <span class="font-weight-bold">1. Skip sections</span><br><br>
                    I’m one of those people who feels bad if I miss anything (sometimes known as ‘fear of missing out‘). When it comes to reading, I definitely feel this. If something further ahead catches my eye, I can’t keep reading until I go back and catch up on the parts I missed.
                    <br><br>
                    I’ve actually realized recently that there is a kind of freedom in giving up that feeling of needing to see everything. Sometimes, it’s okay to skip parts. Especially if they’re not relevant to you. Readers on the web skim for a reason. In fact it has almost become our default way of reading, as this eye-tracking study shows:      
                    <br><br>
                    <img src="{% static 'images/blog2img1.png' %}" style="margin: auto;" width="80%"><BR><BR>
                    When we’re reading on the web, we’ll often find handy stuff to help us do this, like subheadings or bold text. These can help us skim through and get the gist of an article quickly, so we can decide whether to go back and reread the parts we skipped.
                    <br><br>
                    Roberto Estreitinho is a fan of this method:
                    <br><br>
                    <span class="font-weight-bold">A short bonus regarding long reads: in case of doubt, skip to the conclusion. If it’s worthy of understanding how the author got there, read it all. If not, congratulations. You just avoided wasting time.</span>
                    <br><br>
                    One of the benefits of skipping over sections is that you’re not overloading your brain with irrelevant information, so the info that is going in can be processed more easily. Hopefully, this method can help us to remember more of what we read!
                    <br><br>
                    <span class="font-weight-bold">All the information we have available only increases our stress levels and diminishes available time. We consume much more than we create, we read much more than we think, and it should be the other way around. We have to make sure we consume the things that truly matter to us, but only so that we have time to create something that matters to someone else. – Roberto Estreitinho </span>    
                    <br><br>  
                    <span class="font-weight-bold">2. Quit altogether</span> 
                    <br><br>
                    The older I get, the more I’m becoming a fan of quitting. Not for the sake of it, of course, but when continuing on doesn’t have enough (or any) benefits, sometimes pulling out is the best option.
                    <br><br>
                    Famous writer Henry Miller even advocated for reading less in his book, The Books in My Life:
                    <br><br>
                    <span class="font-weight-bold">One of the results of this self-examination — for that is what the writing of this book amounts to — is the confirmed belief that one should read less and less, not more and more…. I have not read nearly as much as the scholar, the bookworm, or even the ‘well-educated’ man — yet I have undoubtedly read a hundred times more than I should have read for my own good. Only one out of five in America, it is said, are readers of ‘books.’ But even this small number read far too much. Scarcely any one lives wisely or fully.</span>
                    <br><br>
                    Reading is meant to be a fun activity. Your brain doesn’t want to slog through something it finds boring.
                    <br><br>
                    In How to Talk About Books You Haven’t Read, Pierre Bayard defends the habit of not reading as something we should all do more of:
                    <br><br>
                    <span class="font-weight-bold">To speak without shame about books we haven’t read, we would thus do well to free ourselves of the oppressive image of cultural literacy without gaps, as transmitted and imposed by family and school, for we can strive toward this image for a lifetime without ever managing to coincide with it.</span>
                    <br><br>
                    If we really respect our time, let’s spend it on things we enjoy and reading that has long-term benefits for us.
                    <br><br>
                    <span class="font-weight-bold">3. Walk away and take notes</span><br><br>
                    I came across this post by Shane Parrish recently that explains a trick to getting more out of the books you read. Essentially, it’s a matter of taking regular breaks to make notes on what you’ve read:
                    <br><br>
                    <span class="font-weight-bold">While on the flight to Omaha, he was reading. He took notes on the material itself, and every time he completed a chapter he pulled out a sheet of white paper and wrote a single page summary on what he had just read. He places the paper in another folder. This is how he gets his learning deeper and this also enables him to refer to summaries in the future.</span>
                    <br><br>
                    This helps you to test your comprehension and give your brain a chance to assimilate the information before you continue reading. The post goes on to quote Daniel Coyle’s advice for retaining the information we read:
                    <br><br>
                    <span class="font-weight-bold">Research shows that people who follow strategy B [read ten pages at once, then close the book and write a one page summary] remember 50 percent more material over the long term than people who follow strategy A [read ten pages four times in a row and try to memorize them].</span>
                    <br><br>
                    Mary Gordon wrote about how copying sections from books and taking notes on what she’s read helps inspire her own words:
                    <br><br>
                    <span class="font-weight-bold">Before I take pen to paper, I read. I can’t begin my day reading fiction; I need the more intimate tone of letters and journals. From these journals and letters — the horse’s mouth — I copy something that has taken my fancy, some exemplum or casual observation I take as advice. These usually go into the Swedish journal, except for the occasional sentence that shimmers on its own, and then it goes into the handmade Vermonter.</span>
                    <br><br>
                    <span class="font-weight-bold">I move to Proust; three pages read in English, the same three in French. In my Proust notebook I write down whatever it is I’ve made of those dense and demanding sentences. Then I turn to my journal, where I feel free to write whatever narcissistic nonsense comes into my head.</span>
                </p>
            </div>        
        </div>
    </div>
</section>
{% endblock %}