{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--  &lt;!&ndash; Required meta tags &ndash;&gt;-->


<!--  <title>BookIt</title>-->
<!--   {% load staticfiles %}-->

<!--  &lt;!&ndash; bootstrap.min css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">-->
<!--  &lt;!&ndash; Icon Font Css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">-->
<!--  <link rel="stylesheet" href="{% static 'css/all.css' %}">-->
<!--  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">-->
<!--  &lt;!&ndash; Owl Carousel CSS &ndash;&gt;-->
<!--  <link rel="stylesheet" href="{% static 'css/slick.css' %}">-->
<!--  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">-->

<!--  &lt;!&ndash; Main Stylesheet &ndash;&gt;-->
<!--  <link rel="stylesheet" href="{% static 'css/style.css' %}">-->

<!--</head>-->

<!--<body>-->

<!--&lt;!&ndash; Header Start &ndash;&gt;-->

<!--<header class="navigation">-->

<!--	<nav class="navbar navbar-expand-lg  py-1 custom " id="navbar">-->
<!--		<div class="container">-->

<!--			<ul style="list-style-type:none">-->
<!--				<li>-->
<!--		 			 <img src="{% static 'images/book.png' %}" alt="bookit logo" class="logo">-->
<!--		   		 </li>-->
<!--		    	<li>-->
<!--		  			<a class="navbar-brand" href="index.html">-->
<!--		  				<font size=3 style="margin-left:-2px"> Book<span>it</span> </font>-->
<!--		  			</a>-->
<!--		   		 </li>-->
<!--			</ul>-->
<!--		 	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">-->
<!--				<span class="fa fa-bars"></span>-->
<!--		  	</button>-->

<!--		  	<div class="collapse navbar-collapse text-center pb-3" id="navbarsExample09">-->

<!--				<ul class="navbar-nav ml-auto ">-->
<!--			  		<li class="nav-item active">-->
<!--						<a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>-->
<!--			  		</li>-->

<!--					<li class="nav-item dropdown">-->
<!--						<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>-->
<!--						<ul class="dropdown-menu" aria-labelledby="dropdown03">-->
<!--							<li><a class="dropdown-item" href="#">Our company</a></li>-->
<!--						</ul>-->
<!--					  </li>-->

<!--			   		<li class="nav-item dropdown">-->
<!--						<a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>-->
<!--					{% if user.is_authenticated %}-->
<!--						<ul class="dropdown-menu" aria-labelledby="dropdown05">-->
<!--							<li><a class="dropdown-item" href="{% url 'getabook' %}">Get a book</a></li>-->
<!--							<li><a class="dropdown-item" href="{% url 'givebook' %}">Share a book</a></li>-->
<!--							<li><a class="dropdown-item" href="#">Status</a></li>-->
<!--							<li><a class="dropdown-item" href="#">Blog </a></li>-->
<!--						</ul>-->
<!--					{% else %}-->
<!--						<ul class="dropdown-menu" aria-labelledby="dropdown05">-->
<!--							<li><a class="dropdown-item" href="#">Get a book</a></li>-->
<!--							<li><a class="dropdown-item" href="#">Share a book</a></li>-->
<!--							<li><a class="dropdown-item" href="#">Status</a></li>-->
<!--							<li><a class="dropdown-item" href="#">Blog </a></li>-->
<!--						</ul>-->
<!--					{% endif %}-->
<!--					 </li>-->


<!--				</ul>-->
<!--                {% if user.is_authenticated %}-->
<!--                <form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">-->
<!--			 		 <a href={% url 'signout' %} class="btn btn-solid-border btn-round-full">SIGN OUT</a>-->
<!--                {% else %}-->
<!--				<form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">-->
<!--			 		 <a href="{% url 'signup' %}" class="btn btn-solid-border btn-round-full">Create an account</a>-->
<!--                {% endif %}-->
<!--				</form>-->
<!--			 </div>-->
<!--		</div>-->
<!--	</nav>-->
<!--</header> -->

{% if user.is_authenticated %}
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<div class="collapse navbar-collapse" id="navbarNav">
		  <div class="navbar-nav">

			  <a class="nav-link text-right " href="{% url 'status' %}" style="width: 28rem; color: white;">My Requests </a>


			  <a class="nav-link text-center" style="width: 20rem; color: white;" href="{% url 'getabook' %}"><h4 style="color:white;">Get a Book</h4><span class="sr-only">(current)</span></a>


			  <a class="nav-link text-left"  style="width: 30rem; color: white;" href="{% url 'requests' %}">Requests</a>

		  </div>
		</div>
	  </nav>
	<!-- Header Close -->
	<!-- contact form start -->
	<section class="contact-form-wrap section bg-get signup-section">
		<div class="container">

				<div class="col-lg-12 text-center">


						<div class="form-group">
							<form  action="{% url 'booklist' %}">
							<input name='q' type="search" class="form-control" style="width: 50%; border-radius: 50px;margin: auto;"  placeholder="Search">
						</div>
					   <br>
					   <button class="btn btn-main btn-round-full"
							   type="submit">Search</button>
					   <br><br>
					</form>
				</div>
		</div>
	</section>
	<section class="container">
		<div class="gallery" >

			{% block booklist %}
			{% endblock %}
		</div>
	</section>
{% else %}
<section ><br><br><br><br><p><center><h4 style="color:red">please login</h4></center></p></section>
{% endif %}
{% endblock %}