

<!DOCTYPE html>
<html lang="en">
 <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">

  <meta name="author" content="viboski.com">

  <title>BookIt</title>
   {% load staticfiles %}

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="{% static 'css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<header class="navigation">

	<nav class="navbar navbar-expand-lg  py-1 custom " id="navbar">
		<div class="container">

			<ul style="list-style-type:none">
				<li>
		 			 <img src="{% static 'images/book.png' %}" alt="bookit logo" class="logo">
		   		 </li>
		    	<li>
		  			<a class="navbar-brand" href="index.html">
		  				<font size=3 style="margin-left:-2px"> Book<span>it</span> </font>
		  			</a>
		   		 </li>
			</ul>
		 	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span>
		  	</button>

		  	<div class="collapse navbar-collapse text-center pb-3" id="navbarsExample09">

				<ul class="navbar-nav ml-auto ">
			  		<li class="nav-item active">
						<a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
			  		</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown03">
							<li><a class="dropdown-item" href="#">Our company</a></li>
						</ul>
					  </li>

			   		<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
					{% if user.is_authenticated %}
						<ul class="dropdown-menu" aria-labelledby="dropdown05">
							<li><a class="dropdown-item" href="{% url 'getabook' %}">Get a book</a></li>
							<li><a class="dropdown-item" href="{% url 'givebook' %}">Share a book</a></li>
							<li><a class="dropdown-item" href="#">Status</a></li>
							<li><a class="dropdown-item" href="#">Blog </a></li>
						</ul>
					{% else %}
						<ul class="dropdown-menu" aria-labelledby="dropdown05">
							<li><a class="dropdown-item" href="#">Get a book</a></li>
							<li><a class="dropdown-item" href="#">Share a book</a></li>
							<li><a class="dropdown-item" href="#">Status</a></li>
							<li><a class="dropdown-item" href="#">Blog </a></li>
						</ul>
					{% endif %}
					 </li>

			  		 <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>

				</ul>
                {% if user.is_authenticated %}
                <form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
			 		 <a href={% url 'signout' %} class="btn btn-solid-border btn-round-full">SIGN OUT</a>
                {% else %}
				<form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
			 		 <a href="{% url 'contact' %}" class="btn btn-solid-border btn-round-full">Create an account</a>
                {% endif %}
				</form>
			 </div>
		</div>
	</nav>
</header>

<section class="contact-form-wrap section bg-get signup-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                 <form method = "post" enctype="multipart/form-data">
					  {% csrf_token %}
                      {% load widget_tweaks %}

                 <!-- form message -->
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                Your message was sent successfully.
                            </div>
                        </div>
                    </div>
                    <!-- end message -->
                    <span class="text-color"></span><br>
                    <h3 class="text-md mb-4 text-white">Share your books.</h3><br>
					<div class="form-group">
						{% render_field form.bookname  class+="form-control "  style+="width: 50%; border-radius: 50px; margin: auto;" placeholder+="Name of book" %}
					</div>
                    <div class="form-group">
						 {% render_field form.auther class+="form-control "  style+="width: 50%; border-radius: 50px; margin: auto;" placeholder+="Auther"  %}
                    </div>
					 <div class="form-group">
						  {% render_field form.language  class+="form-control "  style+="width: 50%; border-radius: 50px; margin: auto;" placeholder+="language" %}
                     </div>
					 <div class="form-group">
						  {% render_field form.genre  class+="form-control "  style+="width: 50%; border-radius: 50px; margin: auto;" placeholder+="genre" %}
                     </div>
					 <div class="form-group">
						  {% render_field form.isbno class+="form-control "  style+="width: 50%; border-radius: 50px; margin: auto;" placeholder+="ISBN NUMBER"  %}
                    </div>
					 <div class="form-group">
						  {% render_field form.Bookadd_img  class+="form-control "  style+="width: 50%; border-radius: 50px; margin: auto;" placeholder+="cover image" %}
					 </div>
					 <div class="form-group">
						  {% render_field form.pageno class+="form-control "  style+="width: 50%; border-radius: 50px; margin: auto;" placeholder+="No of pages"  %}
                    </div><br>
                   <button class="btn btn-main btn-round-full" name="submit" type="submit">Upload</button><br><br>
                </form>
            </div>
        </div>
    </div>
</section>





  </body>
  </html>