{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<div class="block">
					{% if user.is_authenticated %}
                        <br>
                        <h1 class="animated fadeInUp mb-5">Hello,<BR>{{user.get_username}}<BR></h1>
                        <h1 class="animated fadeInUp mb-5">Welcome to Bookit! We are here for you!  </h1>


                    {% else %}
                    <span class="d-block mb-3 text-white text-capitalize">Prepare for new future</span>
					<h1 class="animated fadeInUp mb-5">
					“Think before you speak.
					<BR> Read before you think.”
					<BR>– Fran Lebowitz
					</h1>
                    {% endif %}
                    {% if user.is_authenticated %}

                        <a href="{% url 'getstarted' %}"  class="btn btn-main btn-round-full ">GET STARTED</a>
                        <BR>
                        <BR>
                        <BR>
                        <BR>
                        <BR>
                        <BR>.



                        <BR>
                    {% else %}
                    {% endif %}

				</div>
			</div>
            {% if user.is_authenticated %}

            {% else %}
            <div class="col-lg-4 col-md-4 ">
				<div class="card">
					<article class="card-body">
						<h4 class="card-title text-center mb-4 mt-1 text-color">Sign in</h4>
						<hr>

						<form action="{% url 'index' %}"   method="post">
                            {% csrf_token %}
							<div class="form-group"   >

								<div class="input-group-index"  >

									<input name="userid" type="text" class="form-index" placeholder="Username" type="text">
								</div> <!-- input-group.// -->
							</div> <!-- form-group// -->
							<div class="form-group">
								<div class="input-group-index">

									<input name="pass" class="form-index" placeholder="Password" type="password">
								</div> <!-- input-group.// -->
							</div> <!-- form-group// -->
							<div class="form-group">
								<button type="submit" class="btn btn-main animated fadeInUp btn-round-full btn-block"> Login  </button>
							</div> <!-- form-group// -->
							<p class="text-center"><a style="color:blue;" href="{% url 'signup' %}" class="btn">Signup</a></p>
						</form>
                         <div>
                            {% for message in messages %}
                            <h4 style="color: red"> {{message}} </h4>
                            {% endfor %}
                         </div>
					</article>
				</div> <!-- card.// -->
			</div>
            {% endif %}
		</div>
	</div>
</section>
<!-- Section Intro Start -->

<section class="section intro">
	<div class="container">
		<div class="row ">
			<div class="col-lg-8">
				<div class="section-title">
					<span class="h6 text-color ">Why choose us?!!</span>
					<h2 class="mt-3 content-title">We provide you an enhanced platform for creating a new reading culture </h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="intro-item mb-5 mb-lg-0">

					<h4 class="mt-4 mb-3">Search for books</h4>
					<p>Please enter a Search term. Bookit is a selective website featuring some of the best books....</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item mb-5 mb-lg-0">

					<h4 class="mt-4 mb-3">Share your books</h4>
					<p>Share your book with workmates,friends and anyone around to read more and while spending less on books.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item">

					<h4 class="mt-4 mb-3">Write,read & learn using blogs</h4>
					<p>Latest creatives blogs are available at your fingertips</p>
				</div>
			</div>
		</div>
	</div>
</section>

 <section class="section-testimonials">
            <div class="row">
                <h2 class="mt-5 content-title text-white mb-5">Look at what our users have to say...</h2>
            </div>
            <div class="row mb-5">
                <div class="col-lg-4">
                    <blockquote>
                      It's a notable website that i have come across. It has got a couple of prominant contents in it.
                        <cite><img src="{% static 'images/customer-1.jpeg' %}">Sabin Saleem</cite>
                    </blockquote>
                </div>
                <div class="col-lg-4">
                    <blockquote>
                       This is a perfect platform for any one who is seeking for the knowledge. Enjoying each and every bit of it...
                        <cite><img src="{% static 'images/customer-2.jpeg' %}">Suhail</cite>
                    </blockquote>
                </div>
                <div class="col-lg-4">
                    <blockquote>
Bookit is soo good in interactions with the users. And that is the main reason for the smooth running of the website.
                    <cite><img src="{% static 'images/customer-3.jpeg' %}">Milton James</cite>
                    </blockquote>
                </div>
            </div>
 </section>
<!--  Section Services End -->

<section class="section latest-blog bg-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Latest Blogs</span>
					<h2 class="mt-3 content-title text-white">Latest blogs by our users </h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card bg-transparent border-0">
					<img src="{% static 'images/1.jpg' %}" alt="" class="img-fluid rounded custu">

					<div class="card-body mt-2">


						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white ">Why Reading Books Makes You a Better Person,</a></h3>

						<a href="{% url 'blogs' %}" class="btn btn-small btn-solid-border btn-round-full text-white">Read More...</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="{% static 'images/2.jpg' %}" alt="" class="img-fluid rounded custu">

					<div class="card-body mt-2">


						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">3 Unconventional Ways to Become a Better Writer</a></h3>

						<a href="{% url 'blogs2' %}" class="btn btn-small btn-solid-border btn-round-full text-white">Read More...</a>
				</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="{% static 'images/blog3img1.png' %}" alt="" class="img-fluid rounded custu">

					<div class="card-body mt-2">
						<h3 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">Mark Zuckerberg says Facebook will ‘review’ policies on speech...</a></h3>

						<a href="{% url 'blogs3' %}" class="btn btn-small btn-solid-border btn-round-full text-white">Read More...</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mt-70 position-relative">
	<div class="container">
		<div class="cta-block-2 bg-gray p-5 rounded border-1 ">
			<div class="row justify-content-center align-items-center ">
				<div class="col-lg-7">
					<span class="text-color">Reach us</span>
					<h2 class="mt-2 mb-4 mb-lg-0">Write your Queries,Feedbacks to Our Best Team of Professionals</h2>
				</div>
				<div class="col-lg-4">
					<a href="#" class="btn btn-main btn-round-full float-lg-right ">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- footer Start -->
<footer class="footer section">


		<div class="footer-btm pt-4">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Bookit.</span> by <a href="#" >viboski</a>
					</div>
				</div>
				<div class="col-lg-6 text-left text-lg-right">
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="https://www.facebook.com">Facebook</a></li>
						<li class="list-inline-item"><a href="https://twitter.com">Twitter</a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com">Linkedin</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
{% endblock %}






